{% extends 'layout.html' %}
{% block body %}
<header
  class="masthead"
  style="background-image: url('{{ url_for('static', filename='assets/img/pexels-rachel-claire-8112524.jpg') }} '); margin: -16px;"
></header>
    </div>
    <!-- content 1200 487 -->
    <br />
    <div class="mainCont">
      Ahmedabad or Amdavad as Gujaratis love to call it, is a city that paints a
      pretty picture of fun, frolic, colours of the chaniya cholis and the taste
      of gathiyas and undhiyu. It is the first in the world to be declared a
      World Heritage City by UNESCO. Ahmedabad has undergone continuous change
      since the time it was conceptualised and founded by Sultan Ahmed Shah.
      But, all through these years, something that has stayed constant is the
      love of the city for celebrating life, and preserving its heritage through
      its architectural wonders. These wonders are now the pride of the city and
      are some of the top tourist attractions of Gujarat. Apart from these,
      there are several parks and water tanks in the city that are worthy of a
      visit.
    </div>
    <hr />
    <ul class="cards">
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="{{ url_for('static', filename='assets/img/ahm01.jpg')}}" /></div>
          <div class="card_content">
            <h2 class="card_title">Kankaria Lake</h2>
            <p class="card_text"></p>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="{{ url_for('static', filename='assets/img/ahm2.jpeg')}}" /></div>
          <div class="card_content">
            <h2 class="card_title">Gandhi Ashram</h2>
            <p class="card_text"></p>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image">
            <img src="{{ url_for('static', filename='assets/img/ahm3.jpeg')}}" />
          </div>
          <div class="card_content">
            <h2 class="card_title">Sabarmati Riverfront</h2>
            <p class="card_text"></p>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="{{ url_for('static', filename='assets/img/ahm4.jpeg')}}" /></div>
          <div class="card_content">
            <h2 class="card_title">Adalaj Step-well</h2>
            <p class="card_text"></p>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="{{ url_for('static', filename='assets/img/ahm5.jpeg')}}" /></div>
          <div class="card_content">
            <h2 class="card_title">ISKON temple</h2>
            <p class="card_text"></p>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="{{ url_for('static', filename='assets/img/ahm6.jpeg')}}" /></div>
          <div class="card_content">
            <h2 class="card_title">Hare Krishna Mandir Temple</h2>
            <p class="card_text"></p>
          </div>
        </div>
      </li>
    </ul>

    <!-- ending -->
    <br />
    <h3>Tourist Places and Things to do in Ahmedabad</h3>
    The largest city in Gujarat, Ahmedabad boasts majestic historical
    structures, old textile mills, serene lakes and insightful museums; thus, it
    offers umpteen things to do for everyone. From spending time at the
    Sabarmati Ashram, exploring Calico Museum and witnessing the old-world charm
    of Jama Masjid to indulging in fun activities at Kankaria Lake, watching
    movies at Sunset Drive-In and exploring vintage cars at Auto World Vintage
    Car Museum; there are an infinite number of things to do in Ahmedabad. You
    can know about the bygone era of the city at the magnificent historical
    places in Ahmedabad which include Teen Darwaza and Rani no Hajiro. <br />

    With Sabarmati River and plenty of lakes running through it, Ahmedabad is
    blessed with scenic beauty and greenery which makes it rich in flora and
    fauna. Kankaria Lake, Vastrapur Lake and Chandola Lake are some of the most
    popular lakes in Ahmedabad that you must visit. Food lovers will find the
    best Gujarati and international fare at both fine dining restaurants and
    local markets. Rajwadu, Dakshinayan, Tomato’s, Silver leaf Bistro and
    Tandoorworkz are among the most popular restaurants in Ahmedabad. For retail
    therapy, you must visit Law Garden Bazar, Sindhi Market, AlphaOne Mall,
    Iscon Mega Mall and CG Road which are some of the most prominent shopping
    places in Ahmedabad <br />
    <br />
    <h4>Confused finding your dream destination ?</h4>
    we find many people struggling to decide which place to visit , worry no
    more . <br />
    Feel free to contact us and book a personal turist guide, you can get
    contact information under <a href="/about">about us page</a>

    <!-- footer -->

{% endblock %}