{% extends 'layout.html' %}
{% block body %}
<header
  class="masthead"
  style="background-image: url('{{ url_for('static', filename='assets/img/kutch-rann-utsav.jpg') }} '); margin: -16px;"
></header>
    </div>
    <!-- content 1200 487 -->
    <br />
    <div class="mainCont">
      <h2>Kutch</h2><br>
      A land of colour, culture and spectacular topography, Kutch with its rustic beauty is nothing less than a pictorial wonderland. Kutch, the land of the creators, myriad colors, and infinite variety, is the place where time has left its footprints. The literal meaning of term Kutch is something which intermittently becomes wet and dry. The term 'Kutch' is also used for tortoise in Sanskrit. A large part of the Kutch, commonly known as the Great Rann of Kutch, submerges in water during the rainy season and becomes dry during the winter season. Starting from Indus valley civilization to Rao dynasty, every ruler has gifted Kutch legacy of art and architecture.
      
      <br><br>
      Places like Bhuj. Mandvi, Dholavira, Gandhidham, and Anjar are amongst the best places to visit in Kutch region that people hardly know. Narayan Sarovar, one of the five holy lakes mentioned in Shrimad Bhagvad and many other Jain and Hindu pilgrimage sights are also located here. Bhuj, the Kutchi capital of yore, get the maximum attention but there are many other places that one should know. <br><br> Places like Dholavira (an archaeological site that contains the ruins of the Harappan city), Aina Mahal and Parag Mahal in Bhuj, Than Monastery and Vijay Villas Palace of Mandvi are worth a visit for the history buffs. Other than the major historical travel destination, Mandvi is also a port city with an amazing shipbuilding yard. The coast and marshlands of Kutch attract many migratory and domestic birds including giant flocks of flamingos, pelicans and common cranes are often seen flying in the region.
    </div>
    <hr />
    <ul class="cards">
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="{{ url_for('static', filename='assets/img/k1.jpeg.jpg')}}" /></div>
          <div class="card_content">
            <h2 class="card_title">Vijay vilas palace</h2>
            <p class="card_text"></p>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="{{ url_for('static', filename='assets/img/k2.jpg')}}" /></div>
          <div class="card_content">
            <h2 class="card_title">White Rann</h2>
            <p class="card_text"></p>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image">
            <img src="{{ url_for('static', filename='assets/img/k3.jpg')}}" />
          </div>
          <div class="card_content">
            <h2 class="card_title">Mandvi beach</h2>
            <p class="card_text"></p>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="{{ url_for('static', filename='assets/img/k4.jpg')}}" /></div>
          <div class="card_content">
            <h2 class="card_title">kalo dungar</h2>
            <p class="card_text"></p>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="{{ url_for('static', filename='assets/img/k5.jpg')}}" /></div>
          <div class="card_content">
            <h2 class="card_title">Shree Swaminarayan mandir,bhuj</h2>
            <p class="card_text"></p>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="{{ url_for('static', filename='assets/img/k6.jpeg.jpg')}}" /></div>
          <div class="card_content">
            <h2 class="card_title">Dholavira</h2>
            <p class="card_text"></p>
          </div>
        </div>
      </li>
    </ul>

    <!-- ending -->
    <!-- ending -->
    <br />
    <h3>Things to do in Kutch</h3>
    <ul>

<li>Purchase Kutch embroidery jackets, mirror work fabrics, patchwork fabric, pottery, silver jewellery, rogan paintings, leather products and embroidery runners from the local markets of Anjar and Bhuj.</li>
<li> for a beach walk on the coastal land of Mandvi.</li>
<li>Visit the sites of Indus Valley Civilization sites in Dholavira.</li>
<li>Sample local cuisines of Kutch like Dhokla, Thepala, Fafda, Kachori, Khandvi, Hahdwoh, Ganthia, Oondhiya, Debra, Surat Paun and countless other Gujrati delicacies.</li>
<li>Stay in an eco-resort or spend a night in the tribal homestays.</li>
<li>Go for a jeep safari in the Jeep SafarI in the Little Rann of Kutch</li>
<li>Walk at the White Rann of Kutch in full Moonlight</li>
<li>Visit the Rann of Kutch's Indo-Pak border area.</li>

</ul>
    
     <br>  Besides its temples, the city is also popular for its beaches. <br><br>
    

<h5>Best places to stay in Kutch</h5>
Dwarka has several hotel options. One can find many budget and mid-range hotels. Some hotels also offer guided tours of archaeological marvels. Dharamshalas are available too, at very low costs.
<br><br>

<h5>Best places to eat in Kutch</h5>
Being a temple town, restaurants generally serve vegetarian cuisine. Most of the restaurants serve Gujarati, South Indian and North Indian cuisines. Gujarati thali is popular and you should try Khamman Dhokla and sweet buttermilk
     <br />
    <br />
    <h4>Confused finding your dream destination ?</h4>
    we find many people struggling to decide which place to visit , worry no
    more . <br />
    Feel free to contact us and book a personal turist guide, you can get
    contact information under <a href="/about">about us page</a>

  

    <!-- footer -->

{% endblock %}