{% extends 'layout.html' %}
{% block body %}
<header
  class="masthead"
  style="background-image: url('{{ url_for('static', filename='assets/img/spb2.jpeg') }} '); margin:-16px;"
></header>
    </div>
    <!-- content 1200 487 -->
    <br />
    <div class="mainCont">
      <h3>Saputara</h3>
      Saputara, a popular hill station in the Dang district of Gujarat, is an year-round destination. It draws plenty of visitors over the weekend who come looking for pleasant weather, wide roads to drive on, sightseeing and restaurants with a view of lush greenery and beautiful waterfalls. From wildlife parks to religious sites, there are many places to visit in Saputara with your near and dear ones. This hill station also has a handful of ancient historical buildings. <br><br>
   
   Saputara caters to travelers of all types and ages. There’s no chance of you or anyone accompanying you getting bored. It is tiny enough to be covered by walking. Standing on the brink of the plateau, you can see breathtaking views of the sunset. This destination is ideal for a brief trip, preferably a 3-day long vacation. <br>
       </div>
       <hr />
       <ul class="cards">
         <li class="cards_item">
           <div class="card">
             <div class="card_image"><img src="{{ url_for('static', filename='assets/img/sp1.jpg')}}" /></div>
             <div class="card_content">
               <h2 class="card_title">Saputara lake</h2>
               <p class="card_text"></p>
             </div>
           </div>
         </li>
         <li class="cards_item">
           <div class="card">
             <div class="card_image"><img src="{{ url_for('static', filename='assets/img/sp2.jpg')}}" /></div>
             <div class="card_content">
               <h2 class="card_title">Sunset point</h2>
               <p class="card_text"></p>
             </div>
           </div>
         </li>
         <li class="cards_item">
           <div class="card">
             <div class="card_image">
               <img src="{{ url_for('static', filename='assets/img/sp3.jpg')}}" />
             </div>
             <div class="card_content">
               <h2 class="card_title">Gira waterfalls</h2>
               <p class="card_text"></p>
             </div>
           </div>
         </li>
         <li class="cards_item">
           <div class="card">
             <div class="card_image"><img src="{{ url_for('static', filename='assets/img/sp4.jpg')}}" /></div>
             <div class="card_content">
               <h2 class="card_title">table point</h2>
               <p class="card_text"></p>
             </div>
           </div>
         </li>
         <li class="cards_item">
           <div class="card">
             <div class="card_image"><img src="{{ url_for('static', filename='assets/img/sp5.jpg')}}" /></div>
             <div class="card_content">
               <h2 class="card_title">Step garden</h2>
               <p class="card_text"></p>
             </div>
           </div>
         </li>
         <li class="cards_item">
           <div class="card">
             <div class="card_image"><img src="{{ url_for('static', filename='assets/img/sp6.jpg')}}" /></div>
             <div class="card_content">
               <h2 class="card_title">Pandava gufa</h2>
               <p class="card_text"></p>
             </div>
           </div>
         </li>
       </ul>
   
       <!-- ending -->
       <br />
       <h3>Tourist Places in Saputara</h3>
      <ul> <li>Gira Falls – For A Refreshing Experience</li</li>>
   <li>Vansda National Park – For A Family Outing</li>
   <li>Hatgadh Fort – Relive The History</li>
   <li>Shabari Dham – Seek Blessings</li>
   <li>Artist Village – Witness Saputara’s Art</li>
   <li>Saputara Museum – Explore The History</li>
   <li>Gandhi Shikhar – Witness The Sunset</li> 
   <li>Echo Point – Absorb The Surreal Views</li> 
   <li>Lake Garden – Enjoy With Family</li> 
   <li>Saptashringi Devi Temple – Make Wishes</li>
   <li>Purna Sanctuary – Witness The Wildlife</li>
   <li>Saputara Lake – Admire The Charm</li>
   <li>Rose Garden – Lose Yourself In Beauty</li>
   <li>Pandava Gufa – Explore The History</li>
   <li>Nageshwar Mahadev Temple – Do Your Prayers</li>
   <li>Table Point – Get Mesmerized By The Views</li>
   <li>Waghai Botanical Garden – Indulge In Thrill</li>
   <li>Step Garden – A Unique Garden</li>
   <li>Sunrise Point – Watch The Breathtaking Sunrise</li>
      </ul>
       <br />
       <h4>Confused finding your dream destination ?</h4>
       we find many people struggling to decide which place to visit , worry no
       more . <br />
       Feel free to contact us and book a personal turist guide, you can get
       contact information under <a href="/about">about us page</a>
    <!-- footer -->

{% endblock %}